In [2]:
import pandas as pd
import os

In [4]:
#path of data file
path = os.getcwd() + '/../data/sample.dat'
#Giving column names 
#considered columns from dataset are
# timestamp (s)
# activityID  
# heart rate (bpm)
# (IMU hand) 3D-acceleration data (ms-2), scale: Â±16g, resolution: 13-bit 
# (IMU hand) 3D-gyroscope data (rad/s)
col_names = ['timestamp (s)', 'activityID', 'heart rate (bpm)', 'X1', 'Y1', 'Z1', 'X2', 'Y2', 'Z2']
#required columns list
required_cols = [0,1,2,4,5,6,10,11,12]
#loading data into pandas dataframe
main_df = pd.read_csv(path, header=None, names=col_names, sep='\s+', usecols=required_cols, engine='python')
#printing few records of data
main_df.head()

,timestamp (s),activityID,heart rate (bpm),X1,Y1,Z1,X2,Y2,Z2
0,8.38,0,104.0,2.37223,8.60074,3.51048,-0.092217,0.056812,-0.015845
1,8.39,0,NaN,2.18837,8.56560,3.66179,-0.024413,0.047758,0.006474
2,8.40,0,NaN,2.37357,8.60107,3.54898,-0.057976,0.032574,-0.006988
3,8.41,0,NaN,2.07473,8.52853,3.66021,-0.002352,0.032810,-0.003747
4,8.42,0,NaN,2.22936,8.83122,3.70000,0.012269,0.018305,-0.053325

In [6]:
#showing null values count for each column
main_df.isna().sum()

timestamp (s)          0
activityID             0
heart rate (bpm)    9086
X1                     0
Y1                     0
Z1                     0
X2                     0
Y2                     0
Z2                     0
dtype: int64

In [7]:
#columns list for which we need to perform ouliers operation
cols = ['X1', 'Y1', 'Z1', 'X2', 'Y2', 'Z2']
#calculating threshold values to remove outliers which are +3 or -3 std away from mean
lower = main_df[cols].quantile(0.01)
higher  = main_df[cols].quantile(0.99)
print(lower,higher)

X1   -8.480796
Y1    1.877338
Z1   -1.780642
X2   -1.120714
Y2   -1.210082
Z2   -1.129621
Name: 0.01, dtype: float64 X1     6.353500
Y1    10.425224
Z1     8.368665
X2     1.293103
Y2     0.776432
Z2     0.977632
Name: 0.99, dtype: float64

In [9]:
# checking and removing outliers
main_df = main_df[((main_df[cols] < higher) & (main_df[cols] > lower)).any(axis=1)]
#printing few records of data
main_df.head()

,timestamp (s),activityID,heart rate (bpm),X1,Y1,Z1,X2,Y2,Z2
0,8.38,0,104.0,2.37223,8.60074,3.51048,-0.092217,0.056812,-0.015845
1,8.39,0,NaN,2.18837,8.56560,3.66179,-0.024413,0.047758,0.006474
2,8.40,0,NaN,2.37357,8.60107,3.54898,-0.057976,0.032574,-0.006988
3,8.41,0,NaN,2.07473,8.52853,3.66021,-0.002352,0.032810,-0.003747
4,8.42,0,NaN,2.22936,8.83122,3.70000,0.012269,0.018305,-0.053325